<!DOCTYPE html>
<html>
  <body>
    <div class="sidetoggle collapse" id="sidetoggle">
      <div class="sidetoc">
        <div class="toc" id="toc">
          {{^leaf}}
            {{>partials/li}}
          {{/leaf}}
        </div>
      </div>
    </div>
  </body>
</html>