.expander:after {
    font-family: 'Glyphicons Halflings';
    content: "\e260";
    margin-left: 5px;
    color: grey;
    font-size: small;
}

.expander.collapsed:after {
    content: "\e259";
}

.fab {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 11px 0 0 0;
    border: none;
    outline: none;
    color: #FFF;
    border-radius: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;
}

.fab:hover {
    transform: scale(1.1);
}

a.back-to-top {
    background-color:#F44336;
    background:#F44336;
    display: none;
    z-index: 9999;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.breadcrumbnav {
    min-height: 0;
}

#toc_filter_input {
    width: 100%;
}

#selector {
    margin-top: 10px;
}

.navbar-inverse {
    background: #4C6E8A 
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-text { 
    color: #D9EDF7; 
}

.sidetoc,
body .toc,
.sidefilter { 
  background-color: #f9fbe7; 
} 

article .collapse {
    padding-left: 0;
}

.padTop {
    padding-top: 5px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover { 
    color: #fff; 
    background-color: #01579b; 
}