.expander:after {
    font-family: 'Glyphicons Halflings';
    content: "\e260";
    margin-left: 5px;
    color: grey;
    font-size: small;
}

.expander.collapsed:after {
    content: "\e259";
}

a.back-to-top {
    background-color:#F44336;
    background:#F44336;
    display: none;
    width: 40px;
    height: 40px;
    z-index: 9999;
    position: fixed;
    text-align: center;
    padding: 10px 0 0 0;
    right: 20px;
    bottom: 20px;
    border: none;
    outline: none;
    color: #FFF;
    border-radius: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;
}

a.back-to-top:hover {
    transform: scale(1.1);
}

.breadcrumbnav {
    min-height: 0;
}

#toc_filter_input {
    width: 100%;
}