.expander:after {
    font-family: 'Glyphicons Halflings';
    content: "\e260";
    margin-left: 5px;
    color: grey;
    font-size: small;
}

.expander.collapsed:after {
    content: "\e259";
}

.fab {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 11px 0 0 0;
    border: none;
    outline: none;
    color: #FFF;
    border-radius: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;
}

.fab:hover {
    transform: scale(1.1);
}

.contributionPanel {
    z-index: 9999;
    position: fixed;
    right: 30px;
    top: 20px;
}

a.back-to-top {
    background-color:#F44336;
    background:#F44336;
    color: white;
    display: none;
    z-index: 9999;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#toc_filter_input {
    width: 100%;
}

#selector {
    margin-top: 10px;
}

.glyphicon-menu-left {
    padding-right: -8px;
}

.sidetoc,
body .toc,
.sidefilter { 
  background-color: #f9fbe7; 
} 

article .collapse {
    padding-left: 0;
}

.padTop {
    padding-top: 5px;
}

.navbar-inverse {
    background-color: #00897b;
}

.navbar .navbar-brand {
    color: white;
}